.reseñados-container {
    padding: 20px;
    max-width: 900px;
    text-align: center;
  }
  
  .reseñados-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: left;
  }
  
  .juego-miniatura {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .juego-miniatura:hover {
    transform: scale(1.05);
  }
  